*{
    background-color: #eceef1;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.Main
{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        /* background: #000; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        /* border: 1px solid red; */

    }
        .head{
            height: 40px;
            width: 195px;
            /* padding: 10px 30px 0px 10px; */
            display: flex;
            align-items: center;
            flex-flow: column;
            /* border: 1px solid red; */

        }
            .signin {
                font-size: 12px;                         
                color: rgb(124, 125, 125);
                font-family: Helvetica;
                font-size: 11px; 
                width: 170px;
                height: 20px;
                /* border: 1px solid red;  */
                display: flex;
                justify-content: flex-end; 
                align-items: flex-start;                   
            }
            
            .signinLink{
                font-size: 11px;
                height: 20px;
                color: rgb(54, 140, 202);
                /* border: 1px solid red; */
                font-family: Helvetica;
                width: 170px;
                display: flex;
                justify-content: flex-end;  
                align-items: flex-start;
                text-decoration: none;

            }

            .btnSignin{
                display: flex;
                justify-content: center;
                align-content: center;    
                /* border: 1px solid red; */
                height: 40px;
                margin: 0px 30px 0px 0px;
            }
                .signinbutton {
                    /* border: solid red; */
                    width: 102px;
                    height: 34px;
                    background-color: #0077C5;
                    border-radius: 4px;
                    border: 1px solid #4c4c4c;
                    color: white;
                    float: right;
                    font-family: helvetica;
                    font-size:13px ;                             
                }

    .mainContent{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
    }
        .logo{
            /* background: #e6af2e; */
            height: 40px;
            width: 129px;
        }
        
    .Icons{
        /* background: #000; */
        display: flex;
        justify-content: center;       
        height: 45px;
        
    }
        .IconsText
        {
            /* background: red; */
            height: 30px;
            width: 320px; 
            display: flex;                   
            /* border: 1px solid green; */
            justify-content: space-between;
            align-items: flex-end;
        }
            .mintIcon{
                width: 75px;
                height: 22px;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                
            }

                .mintTextIcon{
                    font-family: Helvetica;
                    font-size: 18px;
                    width: 37px;
                    height: 20px;
                    text-decoration: none;
                    color: RGB(84,85,90);
                    font-weight: 100;
                }

            .QuickbookIcon{
                width: 130px;
                height: 22px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
            }
                .QuickbooksTextIcon{
                    font-family: Helvetica;
                    font-size: 18px;
                    width: 100px;
                    height: 20px;
                    text-decoration: none;
                    color: RGB(84,85,90);
                    font-weight: 200;
                }
            
            .turbotaxIcon{
                width: 105px;
                height: 22px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
            }
                .TurbotaxTextIcon{
                    font-family: Helvetica;
                    font-size: 18px;
                    width: 75px;
                    height: 20px;
                    text-decoration: none;
                    color: rgb(84,85,90);
                    font-weight: 200;
                }


    .form{
        /* background: #000; */
        background: rgb(236,238,241);
        display: flex;
        justify-content: center;
        height: 620px;
    }
        .formInside
        {
            background: white;
            /* background: red; */
            height: 685px;
            width: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;                        
            border: 1px solid rgb(192, 192, 192);
        }
            .FormContent{
                width: 318px;
                height: 622px;
                /* background: green; */
                display: flex;
                flex-flow: column;
                font-family: Helvetica;
                color: rgb(67, 67, 67);
                background: white;
            }
                .one{
                    height: 34px;
                    display: flex;
                    justify-content: center;   
                    font-size: 24px;
                    align-items: center;
                    color: rgb(79, 79, 79);   
                    /* font-weight: 100;               */
                    background: white;
                }
                .two{
                    height: 20px;
                    background: white;
                }
                .three{
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 100;
                    background: white;
                }
                .four{
                    display: flex;
                    justify-content: center;
                    height: 18px;
                    font-size: 12px;
                    color: rgb(27, 119, 190);
                    background: white;
                }
                .five{
                    height: 15px;
                    background: white;
                }
                .six{
                    height: 28px;
                    display: flex;
                    justify-content: left;
                    font-size: 14px;
                    font-weight: 100;
                    color: rgb(71, 71, 71);
                    background: white;
                }
                .seven{
                    height: 40px;
                    background: white;

                }
                    .txtEmail{
                        height: 32px;
                        width: 315px;
                        border-radius: 4px;
                        border-style: solid;
                        border: 1px solid rgb(185, 189, 193) ;
                        background: white;
                    }
                .eight{
                    height: 19px;
                    background: white;
                }
                .nine{
                    height: 9px;
                    background: white;
                }
                .ten{
                    height: 28px;
                    display: flex;
                    justify-content: left;
                    font-size: 14px;
                    font-weight: 100;
                    color: rgb(71, 71, 71);
                    background: white;
                }
                .eleven{
                    height: 36px;
                    background: white;
                }
                    .txtPhone{
                        height: 32px;
                        width: 315px;
                        border-radius: 4px;
                        border-style: solid;
                        border: 1px solid rgb(185, 189, 193);
                        background: white;
                    }
                .twelve{
                    height: 20px;
                    display: flex;
                    justify-content: left;
                    font-size: 10px;
                    font-weight: 100;
                    color: rgb(71, 71, 71);
                    background: white;
                    align-items: center;
                }
                .thirteen{
                    height: 33px;
                    background: white;
                }
                .fourteen{
                    height: 28px;
                    display: flex;
                    justify-content: left;
                    font-size: 14px;
                    font-weight: 100;
                    color: rgb(71, 71, 71);
                    background: white;
                }
                .fifteen{
                    height: 40px;
                    background: white;
                }
                    .txtPassword{
                        height: 32px;
                        width: 315px;
                        border-radius: 4px;                        
                        border: 1px solid rgb(185, 189, 193);
                        background: white;
                    }

                .sixteen{
                    height: 25px;
                    background: white;
                }
                .seventeen{
                    height: 57px;
                    background: white;
                }
                    .btnCreateAccount{
                        height: 45px;
                        width: 315px;
                        border-radius: 4px;
                        background-color: #0077C5;
                        color: white;
                        border: 1px solid rgb(84, 84, 84);
                        font-size: 14px;
                        
                    }
                .eighteen{
                    height: 26px;
                    background: white;
                }
                .nineteen{
                    height: 23px;                  
                    display: flex;
                    justify-content: center;   
                    font-size: 12px;
                    color: rgb(84, 84, 84);
                    align-items: center;
                    font-style: italic;
                    background: white;
                }
                    
                .twenty{
                    height: 21px;
                    display: flex;
                    justify-content: center;   
                    font-size: 12px;
                    color: rgb(84, 84, 84);
                    align-items: center;
                    font-style: italic;
                    background: white;
                }
                .twentyone{
                    height: 22px;
                    display: flex;
                    justify-content: center;   
                    font-size: 12px;
                    color: rgb(84, 84, 84);
                    align-items: center;
                    font-style: italic;
                    background: white;
                }
                    .Terms{
                        font-size: 12px;
                        color: rgb(27, 119, 190);
                        text-decoration: none;
                        background: white;
                    }
    .Invisible{
        /* background: #000; */
        background: rgb(236,238,241);
        display: flex;
        justify-content: center;
        height: 55px;
    }
        .Captcha
        {
            background: rgb(236,238,241);
            height: 54px;
            width: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(192, 192, 192);
        }
            .InvisibleCaptcha{
                
                /* background: green; */
                
            }
            
            .InvisibleCaptcha>p{
                color: rgb(135, 138, 144);
                font-family: Helvetica;
                font-size: 10px;
            }
            p>a{
                font-family: Helvetica;
                font-size: 10px;
                width: 37px;
                height: 20px;
                text-decoration: none;
                color: RGB(47,129,194);
                font-weight: 100;
            }

    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        height: 100px;
        background: rgb(236,238,241);
    }
        .foot
        {
            /* background:red; */
            height: 80px;
            width: 1000px;  
            display: flex;
            flex-flow: column;
            justify-content: center;  
            font-family: Helvetica;
            color: rgb(67, 67, 67);                   
        }
            .Legal{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 45px;
                font-size: 12px;
                font-weight: 100;
                word-spacing: 15px;
            }
            .IntuitInc{
                display: flex;
                justify-content: center;
                height: 20px;
                align-items: center;
                font-size: 12px;
                font-weight: 100;
            }
            .Conditions{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                font-size: 12px;
                font-weight: 100;
            }
/* end */
.icons {
    /* border: solid red; */
    padding-bottom: 10px;
}

.icons img {
    /* padding-top: 7px; */
    border: solid red;

}

.icons label {
    /* padding-bottom: 10px; */
    border: solid red;

}
