html, body {
    background-color: #eceef1;
    font-family: Arial, sans-serif;
    color: #505050;
    box-sizing: border-box;
}


.signin {
        /* border: solid red; */
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-left: 1025px;
}

.signinbutton {
    /* border: solid red; */
    width: 102px;
    height: 34px;
    background-color: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.section {
    /* border: solid red; */

}

.mainlogo {
    /* border: solid red; */
    width: 118px;
    position: relative;
    margin-left: 605px;
    margin-top: 25px; 

    display: block;
}


.firsticon {
    /* border: solid red; */

    position: absolute;
    margin-left: 505px;
    margin-top: 10px;

}

.mint {
    /* border: solid red; */
    position: absolute;
    margin-bottom: 10px; 
    margin-left: 535px;
    display: inline-block;
}

.secondicon {
    /* border: solid red; */

    position: absolute;
    margin-left: 590px;
    margin-top: 10px;

}

.quickbooks {
    /* border: solid red; */
    position: absolute;
    margin-bottom: 10px; 
    margin-left: 620px;
    display: inline-block;
}

.thirdicon {
    /* border: solid red; */

    position: absolute;
    margin-left: 720px;
    margin-top: 10px;

}

.turbotax {
    /* border: solid red; */
    position: absolute;
    margin-bottom: 10px; 
    margin-left: 750px;
    display: inline-block;
}




.fieldset {
    background-color: white;
    position: relative;
    margin-top: 55px;
    width: 380px;
    height: 671px;
    padding: 30px;
    /* white-space: 1px; */
}



.footer {
    text-align: center;
    font-size: 12px;
    color: #505050;
}

.footer a {
    margin: 5px;
    color: #505050;

}

/* changes */
*{
    /* border: 1px solid red; */
}

.CreateHeading{
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 50;
}
.TextCreateAccound{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;

}

.LearnMore
{
    color: rgb(48,131,196);
    margin: -60px 0px 0px 50px;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
 


}
.lblEmail{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
}

.Email{
    width: 320px;
    height: 35px;
    border-radius: 4px;
    border-style: solid;
    border: 1px solid rgb(185, 189, 193) ;
}

.lblPhone{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
}

.Phone{
    width: 320px;
    height: 35px;
    border-radius: 4px;
    border-style: solid;
    border: 1px solid rgb(185, 189, 193) ;

}

.lblStandard{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
}
.lblPassword{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
}

.Password{
    width: 320px;
    height: 35px;
    border-radius: 4px;
    border-style: solid;
    border: 1px solid rgb(185, 189, 193) ;
}

.CreateAccount{
    width: 320px;
    height: 34px;
    background-color: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    float: center;

}


.Byclicking{
    color: #404040;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 100;
}
}

/* end */